---
sap_s4hana_deployment_product_id: "NW_ABAP_OneHost:S4HANA1909.CORE.HDB.ABAP"
sap_s4hana_deployment_sapcar_path: "/install/SAPCAR"
sap_s4hana_deployment_sapcar_file_name: "SAPCAR.EXE"
sap_s4hana_deployment_swpm_path: "/software/S4HANA_installation"
sap_s4hana_deployment_swpm_sar_file_name: "SWPM20SP06_3-80003424.SAR"
sap_s4hana_deployment_db_schema_password: "{{ sap_password }}"
sap_s4hana_deployment_db_schema_abap_password: "{{ sap_password }}"
sap_s4hana_deployment_master_password: "{{ sap_password }}"
sap_s4hana_deployment_hana_systemdb_password: "{{ sap_password }}"
sap_s4hana_deployment_sid: "RHE"
sap_s4hana_deployment_db_host: "hdb1vip"
sap_s4hana_deployment_db_sid: "RHE"
sap_s4hana_deployment_hana_instance_nr: "00"
sap_s4hana_deployment_hana_system_password: "{{ sap_password }}"
sap_s4hana_deployment_parallel_jobs_nr: "30"
sap_s4hana_deployment_db_sidadm_password: "{{ sap_password }}"
sap_s4hana_deployment_igs_path: "/software/S4HANA_installation"
sap_s4hana_deployment_igs_file_name: "igsexe_11-80003187.sar"
sap_s4hana_deployment_igs_helper_path: "/software/S4HANA_installation"
sap_s4hana_deployment_igs_helper_file_name: "igshelper_17-10010245.sar"
sap_s4hana_deployment_kernel_dependent_path: "/software/S4HANA_installation"
sap_s4hana_deployment_kernel_dependent_file_name: "SAPEXEDB_201-80003385.SAR"
sap_s4hana_deployment_kernel_independent_path: "/software/S4HANA_installation"
sap_s4hana_deployment_kernel_independent_file_name: "SAPEXE_201-80003386.SAR"
sap_s4hana_deployment_software_path: "/software/S4HANA_installation"
sap_s4hana_deployment_sapadm_password: "{{ sap_password }}"
sap_s4hana_deployment_sap_sidadm_password: "{{ sap_password }}"

storage_pools:
  - name: sap
    disks:
      - nvme1n1
    volumes:
      - name: sap
        size: "64 GiB"
        mount_point: "/usr/sap"
        state: present
      - name: sapmnt
        size: "64 GiB"
        mount_point: "/usr/sapmnt"
        state: present
      - name: swap
        size: "20 GiB"
        state: present
      - name: install
        size: "10 GiB"
        mount_point: "/install"
        state: present